* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
  }

nav {
    background-color: #F55A5A;
    color: white;
    height: 55px;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.logo-image {
    width: 24px;
    height: 24px;
}

.logo-text {
    font-size: 15px;
    font-weight: 500;
}

.main-container {
    display: flex;
    max-width: 550px;
    margin: auto;
    margin-top: 18px;
}

.photo {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    justify-content: center;
}

.top-container {
    display: flex;
    font-size: 10.24px;
    font-weight: 400;
    margin-bottom: 7px;
}

.country {
    letter-spacing: 2px;
    color: #2B283A;
    margin-left: 4px;
}

.maps {
    color: #918E9B;
    margin-left: 12px;
    text-decoration: underline;
}

.bottom-container{
    color: #2B283A;
    font-size: 10.24px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px;
}

.date {
    margin-bottom: 9px;
    font-weight: 700;
}

hr {
    max-width: 550px;
    margin: auto;
    margin-top: 18px;
    border: 1px solid #F5F5F5;
}